<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/newEPrescription.css'%}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head> 
<body>
    <nav class="navbar">
                <div>
                    <a href="{% url 'adminDashboard' %}"><img class="logo" src="{% static 'images/logo.png' %}"></a>
                </div>
                <div>
                        <ul>
                            <li class="location"><a href="#"><img src="{% static 'images/location.png' %}"></a></li>
                            <li><a href="#">Sri Lanka</a></li>
                        </ul>
                </div>
                <div>
                        <ul>
                                <li class="notification"><a href="#"><img src="{% static 'images/notification.png' %}"></a></li>
                                <li class="email"><a href="#"><img src="{% static 'images/email.png' %}"></a></li>
                                <li class="userProfile"><span>
                                        {% for prof in prof%}
                                            <img src="{{prof.image.url}}" alt="img" style="width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                            object-fit: cover;
                                            object-position: center;
                                            clip-path: circle(50% at center);" >
                                        {% endfor %}
                                    </span></a></li>
                         </ul>
                </div>
    </nav>

    <div class="title_searchBtn">
        <h2 class="createNewAccountHeading">Create New Account - Nurse</h2>
        <a href="{% url 'searchUser' %}"> <button class="searchUserBtn">Search User</button></a>
    </div>

    <form class="" method="post">
        {% csrf_token %}
            <div class="cNPBodyOuter">
                <div class="cNPBodyInner">
                    <h2 class="bItxt">Basic Information (Required)</h2>
                        <div class="pDetails" id="imageConatiner">
                            <label>Profile Picture</label>
                            <label for="image-upload" class="upload-label">
                                <span class="upload-text">Choose Image</span>
                                <input id="image-upload" type="file" name="image">
                            </label>
                        </div>
                        <div class="pDetails">
                            <label>ID Number</label>
                            <input type="text" id="username" name="id_num" required class="textbox" placeholder="NUR001">
                        </div>
                        <div class="pDetails">
                            <label>First Name</label>
                            <input type="text" id="username" name="first_name" required class="textbox" placeholder="Michel">
                        </div>
                        <div class="pDetails">
                            <label>Last Name</label>
                            <input type="text" id="username" name="last_name" required class="textbox" placeholder="Arvin"> 
                        </div>
                        <div class="pDetails">
                            <label>DOB</label>
                            <input type="text" id="username" name="dateOfBirth" required class="textbox" placeholder="2022-03-19">
                        </div>
                        <div class="pDetails">
                            <label>Sex</label>
                            <input type="text" id="username" name="sex" required class="textbox" placeholder="Male">
                        </div>
                        <div class="pDetails">
                            <label>NIC</label>
                            <input type="text" id="username" name="nic" required class="textbox" placeholder="1234567894V">
                        </div>
                </div>


                <div class="cNPBodyInner">
                    <h2 class="bItxt">Contact Info</h2>
                        <div class="pDetails">
                            <label>Mobile / Phone</label>
                            <input type="text" id="username" name="mobile_number" required class="textbox" placeholder="077 - 5236412">
                        </div>
                        <div class="pDetails">
                            <label>Email Address</label>
                            <input type="text" id="username" name="email" required class="textbox" placeholder="example@gmail.com">
                        </div>
                        <div class="pDetails">
                            <label>Address</label>
                            <input type="text" id="username" name="address" required class="textbox" placeholder="Colombo 06"> 
                        </div>
                        <div class="pDetails">
                            <label>Primary Phone</label>
                            <input type="text" id="username" name="primary_phone" required class="textbox" placeholder="076 - 1258475">
                        </div>
                        <div class="pDetails">
                            <label>Secondary Phone</label>
                            <input type="text" id="username" name="secondary_phone" required class="textbox" placeholder="077 - 7825963">
                        </div>
                </div>

                <input type="submit" class="saveBtn" value="Save">
                <button type="submit" class="cancelBtn">Cancel</button>

            </div>
</form>


    <p class="copyRight">©2023 Electronic Health Record System, HLens. All rights reserved.</p>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   
    <style>
        /* Blur effect for the background */
        .blur-background {
            filter: blur(5px);
        }
    
        /* Dialog box styles */
        #dialog {
            background-color: white;
            border: none;
            box-shadow: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    
    {% if success %}
        <script>
            $(document).ready(function() {

                $('.container').addClass('blur-background');
    
            
                $("#dialog").dialog({
                    modal: true,
                    open: function(event, ui) {
                        $('.ui-widget-overlay').removeClass('blur-background');
                    }
                });
            });
        </script>
    {% endif %}
    
    <!-- Content of the page -->
    <div class="container">
        <!-- Your page content here -->
    </div>
    
    <!-- Dialog box HTML -->
    <div id="dialog" title="Success">
        <p>Record saved successfully.</p>
    </div>

</body>
</html>